body {
	color: black;
	font-weight:600;
	font-family: 'Lato', sans-serif;
  	color: #291f1a;
  	margin: 0px;
  	background-color: #f3f3f3;

}


h1, h2, h3 {
  text-align: center; 
}

/* Header styles*/
#main-header {
	background-image: url(../img/image_17.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff; 
}

#main-header {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; }

#main-header:hover {
  -webkit-filter: grayscale(40%);
  cursor: alias;
  }



#main-header .main-header-content {
	text-align: center;
	padding: 30vh;
  
}

#main-header .main-header-content h1 {
	font-size: 4em;
	font-family: 'Roboto', sans-serif;
  	font-weight: 800;
   }

#main-header .main-header-content h2 {
	font-size: 2em;
	font-weight: 400; 
}

#main-header .main-header-content h2 a {
  color: #ffffff;
  text-decoration: none;
  
}

#main-header .main-header-content h2 a:hover {
  color: #990000; 
  text-shadow: 4px 4px 4px #990000;
  -o-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
}


textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
textarea:focus {
  outline: none !important;
  border:1px solid #990000;
  box-shadow: 0 0 10px #990000;
}

#button {
	margin-top: 20px;
  margin-bottom: 35px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding: 15px 30px;
  text-transform: uppercase;
  border: 1px solid #000000;
  background-color: #990000;
  color: #fff;
  font-weight: 600;
  cursor: pointer;

}

.italic {
  font-style: italic;
  font-family: 'Droid Serif', serif; 
  font-weight: 100;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


table th {
  border-width: 3px;
  border-style: solid;
  border-color: #000000;
  padding: 10px; 
}

table td {
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  padding: 10px;
  width: 300px;
  text-align: center;
  background-color: #f3f3f3;
  text-align: center;
}

#footer {
  position: relative;
  margin-bottom: 30px;
  margin: 0px;
  width: 100%;
  font-style: italic;
  font-size: 15px; 

}

#footer .photo1 {
  display: inline-block;
  float: left;
  width: 33.3%;
  background-image: url(../img/image_17.jpg);
  background-size: cover;
  height: 150px;
}
#footer .photo1:hover {
  opacity: 1;
  cursor: pointer;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; 
}

#footer .container {
  background-color: #f3f3f3;
  display: inline-block;
  position: absolute;
  width: 33.8%;
  text-align: left;
  right: 33%;
  height: 150px;

}
#footer .container:hover {
  outline: none !important;
  border:1px solid #990000;
  box-shadow: 0 0 10px #990000;
  overflow: hidden;
  -webkit-transform:scale(1.3);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#footer .photo2 {
  display: inline-block;
  float: right;
  width: 33.3%;
  background-image: url(../img/straz1.jpg);
  background-size: cover;
  height: 150px;
}
#footer .photo2:hover {
  opacity: 1;
  cursor: pointer;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; 
}

ul {
	list-style-type: none;
}
ul>li {
	margin-bottom: 15px;
	font-weight:500;
	text-align: center;
}
